@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+SC:wght@400;600&display=swap');
html {
  font-family: 'Noto Serif SC', serif;
}
#html .chapter li a .active {
  color: #AB545A;
}
#html .light {
  --sidebar-active: #AB545A;
}